body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  margin: 0;
  color: white;
}

.navbar {
  background: rgba(0,0,0,0.2);
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}

.container { margin-top: 80px; }

.card {
  background: white;
  color: black;
  width: 330px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}

.btn {
  padding: 10px 20px;
  background: white;
  color: #0077ff;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
  background: #0077ff;
  color: white;
}